.vs
bin
obj
packages
GameData/**/*.dll
GameData/**/*LICENSE
GameData/**/NOTICE
GameData/**/README.md
GameData/**/CHANGE_LOG.md
GameData/**/CHANGES.md
GameData/**/*.version
Source/*/packages
Source/*/Properties/Version.cs
Source/*/*.user
